@{
    Layout = "~/_MirrorMain.cshtml";
    Page.Title = "Smart Mirror v1";

    // Date Display
    var date = DateTime.Now;
    var dateString = string.Format("{0:dddd}, {0:MMMM} {1}", date, date.Day.Ordinal());

    // Weather Data
    var forecast = ForecastIOInterface.GetForecast();

    // Google Calendar Events
    //var events = GoogleCalendar.GetEvents();
}

<style>
    .small-font {
        font-size: 48px;
    }

    .medium-font {
        font-size: 128px;
    }

    .large-font {
        font-size: 172px;
    }

    .weather-image {
        height: 160px;
        width: 160px;
        margin-top: 40px;
    }

    .football-image {
        height: 60px;
        width: 60px;
        margin-top: 70px;
        margin-left: 15px;
    }
</style>

<div class="row">
    <div class="col-sm-4 col-md-2 col-lg-12"><h1 id="timeNow" class="medium-font"></h1></div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-12"><h1 class="small-font">@dateString</h1></div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-2"><img src="@forecast.IconUrl" alt="@forecast.IconName" class="weather-image" /></div>
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-10"><h1 class="large-font">@forecast.TempNow</h1></div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-12"><h1 class="small-font">@forecast.TempDay - @forecast.DescNow</h1></div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1"><img src="~/Images/football.png" id="greenBayIcon" class="football-image" /></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-11"><h1 id="greenBayTitle" class="medium-font"></h1></div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-12"><h1 id="greenBayTime" class="small-font"></h1></div>
</div>
@*<div class="row">
        <div class="col-sm-4 col-md-4"><h1>Upcoming Events</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-2">
            @if (events.Items != null && events.Items.Count > 0)
            {
                <ul>
                @foreach (var eventItem in events.Items)
                {
                    string when = eventItem.Start.DateTime.ToString();
                    if (string.IsNullOrEmpty(when))
                    {
                        when = eventItem.Start.Date;
                    }
                    <li>@eventItem.Summary (@when)</li>
                }
                </ul>
            }
            else
            {
                <h3>You've got nothin'</h3>;
            }
        </div>
    </div>*@
<!--<h6><small>Icons made by <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works">Icon Works</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></small></h6>-->
<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
